body{
    padding: 10px;
}
@-webkit-keyframes Gradient {
    0%{background-position:50% 0%; border: 1px solid #3faf13;}
    50%{background-position:50% 100%; border: 1px solid #98ff09;}
    100%{background-position:50% 0%; border: 1px solid #3faf13;}
}
@-moz-keyframes Gradient {
    0%{background-position:50% 0%; border: 1px solid #3faf13;}
    50%{background-position:50% 100%; border: 1px solid #98ff09;}
    100%{background-position:50% 0%; border: 1px solid #3faf13;}
}
@keyframes Gradient {
    0%{background-position:50% 0%; border: 1px solid #3faf13;}
    50%{background-position:50% 100%; border: 1px solid #98ff09;}
    100%{background-position:50% 0%; border: 1px solid #3faf13;}
}

@-webkit-keyframes RadialGradient {
    0%{background-position: 0px 15px;}
    50%{background-position: 0px 0px;}
    100%{background-position: 0px 15px;}
}
@-moz-keyframes RadialGradient {
    0%{background-position: 0px 15px;}
    50%{background-position: 0px 0px;}
    100%{background-position: 0px 15px;}
}
@keyframes RadialGradient {
    0%{background-position: 0px 15px;}
    50%{background-position: 0px 0px;}
    100%{background-position: 0px 15px;}
}


body{
    background-color: #0d192c;
}

.btn{
    font-size: 18px;
    height: 26px;
    width: 154px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 2.444;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(2, 22, 5, 0.81);
    text-transform: uppercase;
    border-radius: 4px;
    background: linear-gradient(0deg, #4fa605, #205b0a);
    background-size: 600% 600%;
    border: 1px solid #3faf13;
    -webkit-box-shadow: 0px 0px 6px 5px rgba(21,40,85,1);
    -moz-box-shadow: 0px 0px 6px 5px rgba(21,40,85,1);
    box-shadow: 0px 0px 6px 5px rgba(21,40,85,1);

}

.btn:hover{
    color: #fff;
    background: linear-gradient(0deg, #4fa605, #205b0a);
    background-size: 200% 200%;
    -webkit-animation: Gradient 2s ease infinite;
    -moz-animation: Gradient 2s ease infinite;
    animation: Gradient 2s ease infinite;
}

.btn .underline {
    height:1px;
    margin-bottom: -7px;
    margin-top: -4px;
    background: #1f5809;
    background: -webkit-linear-gradient(left, #3faf13, #82ff27, #3faf13);
    background: -o-linear-gradient(left, #3faf13, #82ff27, #3faf13);
    background: -moz-linear-gradient(left, #3faf13, #82ff27, #3faf13);
    background: linear-gradient(left, #3faf13, #82ff27, #3faf13);

}

.btn .blick{
    height: 21px;
    width: calc(100% + 24px);
    margin-top: -6px;
    margin-bottom: -23px;
    margin-left: -12px;
    background: -webkit-linear-gradient(top, rgba(255,255,255, 0.3), rgba(255,255,255, 0));
    background: -o-linear-gradient(top, rgba(255,255,255, 0.3), rgba(255,255,255, 0));
    background: -moz-linear-gradient(top, rgba(255,255,255, 0.3), rgba(255,255,255, 0));
    background: linear-gradient(to top, rgba(255,255,255, 0.3), rgba(255,255,255, 0));
}
.btn .oval-gradient {
    width: 100px;
    height: 30px;
    margin-left: 27px;
    margin-top: -32px;
    background-position: 0px 15px;
    background-repeat: no-repeat;
    background-image: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%); /* w3c */
}

.btn:hover .oval-gradient {
    background-position: 0px 15px;
    -webkit-animation: RadialGradient 2s ease infinite;
    -moz-animation: RadialGradient 2s ease infinite;
    animation: RadialGradient 2s ease infinite;
}
.pagiantion-wrap{
    text-align: center;
}
.pagiantion-wrap .pagination{
    display: inline-block;
    height: 35px;
    box-sizing: border-box;
    padding: 3px 0;
    border-radius: 25px;
    background: -webkit-linear-gradient(bottom, #242e3e, #697588);
    background: -o-linear-gradient(bottom, #242e3e, #697588);
    background: -moz-linear-gradient(bottom, #242e3e, #697588);
    background: linear-gradient(bottom, #242e3e, #697588);
}
.pagiantion-wrap .pagination li>a{
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid #000;
    font-size: 20px;
    font-family: "Helvetica";
    color: #354763;
    background-color: #122347;
    font-weight: bold;
    text-align: center;
    text-shadow: 0px 3px 2px rgba(2, 22, 5, 1);
    margin-left: 5px;
    padding: 0 8px;
    -webkit-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.5);
}

.pagiantion-wrap .pagination li>a svg{
    height: 14px;
    width: 13px;
}
.pagiantion-wrap .pagination li>a:hover svg>path{
    fill: #fff;
}
.pagiantion-wrap .pagination li>a:hover{
    color: #ffffff;
}
.pagiantion-wrap .pagination li>a.active {
    background-color: #4b7608;
    color: #fff;
}
.pagiantion-wrap .pagination li:first-child{
    margin-left: 0;
}
.pagiantion-wrap .pagination li:last-child{
    margin-right: 5px;
}

.js-task{
    color: #ffffff;
}
select{
    color: #000;
}